In [1]:
import pandas as pd
from scipy.stats import ttest_ind

In [2]:
#create pandas DataFrame
df = pd.DataFrame({'method': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
                              'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
                   'score': [71, 72, 72, 75, 78, 81, 82, 83, 89, 91, 80, 81, 81,
                             84, 88, 88, 89, 90, 90, 91]})

In [3]:
#view first five rows of DataFrame
df.head()

  method  score
0      A     71
1      A     72
2      A     72
3      A     75
4      A     78

In [4]:
#define samples
group1 = df[df['method']=='A']
group2 = df[df['method']=='B']

In [5]:
#perform independent two sample t-test
ttest_ind(group1['score'], group2['score'])

Ttest_indResult(statistic=-2.6034304605397938, pvalue=0.017969284594810425)